@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #2f335e;
}


.container-slider {
  max-width: 700px;
  height: 500px;
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 700px){
  .container-slider {
    margin: 100px 10px 0;
  }
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity ease-in-out 0.4s;
}


.contactanos{
  color: black;
  text-decoration: none;
}

.contactanos:hover{
  color: #2f335e;
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  animation: vanish 3.3s ease forwards;
}


@keyframes vanish {
  100% {
      opacity: 0;
      visibility: hidden;
      animation-delay: 0s;
  }
  70% {
    opacity: 1;
}
}


.none{
  display: none;
}

.block{
  display: block;
}

li{
  list-style: none;
}
ul{
  padding: 0;
  margin-top: 0;
}



.pie-pagina{
  width: 100%;
  background-color: white;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 100px;
  margin-left: 10%;
}
.pie-pagina .grupo-1 .box h2{
  color: black;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: black;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #000000;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-2{
  background-color: #0b141d;
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}

.box{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-social svg{
  margin-top: 10px;
}

.css-1wc848c-MuiFormHelperText-root{
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
}



.CitaPersona  {
  background-color: #2f335e !important;
 
}
tr{
  text-align: center;
}
.Appointment-appointment .Appointment-clickableAppointment{
  background-color: #000000 !important;
}

.Indicator-nowIndicator{
  background-color: #d40505 !important;
}

.Cell.dayView{
  text-align: center !important;
  align-items: center;
}

.introjs-tooltip{
  box-shadow: 14px 17px 30px -9px rgba(0,0,0,0.1) !important;
  border: 0 !important;
  border-radius: 20px !important;
  min-width: 200px !important;
}
.introjs-tooltiptext{
  padding: 11px !important;
  text-align: center;
}
.introjs-tooltip-header{
  margin-top: 10px;
}
.introjs-helperNumberLayer{
  padding-top: 0;
}
.introjs-helperLayer{
  border-radius: 3px !important;
  box-shadow: rgb(33 33 33 / 50%) 0px 0px 0px 5000px !important;
}
.introjs-progressbar  {
  background-color: #2f335e !important;
}
.introjs-tooltipbuttons{
  background-color: #E5E7E9;
  border-radius: 0px 0px 20px 20px  !important;
}
.introjs-tooltipbuttons a{
  background-color: black;
  color: white;
  text-shadow: none;
}
.introjs-button:hover{
  background-color: #2f335e !important;
  color: white !important;
}
.introjs-button:focus{
  background-color: #2f335e !important;
  color: white !important;
}
.introjs-arrow.left{
  top: 80px !important;
}
.Appointment-shadedAppointment{
  background-color: #dc483793 !important;
}

.Cell-shadedCell{
  background-color: #EBEDEF !important;
}
.errorclass  {
  background-color: #dc3741 !important;
  background-image: none;
}

.Content-lens {
  display: none;
}

.Header-head{
  background-color: #000000ca !important;
  
}
.Header-head svg{
  fill: white;
}
.Content-contentContainer {
  margin-left: 30px;
  height: 0;
  margin-bottom: 20px;
}
.css-vr9er9-MuiModal-root-MuiDrawer-root .Overlay-absolutePosition{
  position: 0;
}
.OpenButton-textButton{
  color: rgb(0, 0, 0) !important;
}
.SaveButton-button{
  background-color: #000000ca  !important;
  color: white;
}
.Mui-disabled {
  color: white;
  background-color: #0000002d !important;
}
.DeleteButton-button{
  display: block;
}
.CancelButton-button{
  margin-left: 10px;
}
.Layout-line{
  display: block;
}
.Toolbar-toolbar {
  background-color: #EBEDEF;
}

.Layout-popover{
  width: 270px !important;
}
.Root-root .MuiSvgIcon-root {
  fill: #242c8f;
}
.TodayButton-button , .TodayButton-button:hover{
  background-color: #000000ca ;
  color: white;
  border-radius: 5px;
}
.css-1rit21i-MuiInputBase-root-MuiOutlinedInput-root .Switcher-input{
  padding-right: 0;
  text-transform: none;
  padding: 10px;
  background-color: #000000ca ;
  color: white;
}

.Layout-timeScaleContainer{
  width: 20px !important;
  margin-left: 5px;
}
.TitleCell-content{
  width: 55px !important;
  margin-left: 5px;
}
.containerro {
  padding-left: 0.6rem !important;
  padding-right: 0.6rem !important;
}
.MuiSelect-iconOutlined{
  fill: white !important;
}
.MuiSelect-iconFilled{
  fill: rgb(0, 0, 0) !important;
}
.MuiToolbar-root .MuiToolbar-gutters .MuiToolbar-regular .Toolbar-toolbar{
  margin: 0;
}
.introjs-arrow.top{
  left: 50px !important;
}

.tutorialbtn{
  background-color: #252323 !important ;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 0%;
}
.salirbtn{
  width: 10%;
  background-color: #eb3717ce;
  color: white;
  padding: 10px;
  border-radius: 0;
}
.Root-root{
  margin-left: 1rem !important;
}
.introjs-arrow.right{
top: 20px !important;
}
.introjs-arrow.top-right{
  right: 30px !important;
}
.introjs-arrow.bottom {
  left: 20px !important;
}

.imagentol{
 width: 14rem;
 height: 17rem;
 margin-left: 5px;
 margin-right: 5px;
 margin-bottom: 0;
}

.MuiTableCell-root{
  width: 10px !important;
}

